* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}

:root{
    font-family: 'Arial Rounded MT', sans-serif;
}

body,html {
    width: 100vw;
    height: 100vh;
    background: linear-gradient(to right, #1a2a6c, #b21f1f, #fdbb2d);
    background-attachment:fixed;
    overflow: auto;
}
